# Ignore everything
/*

# Except these files & folders
!/src
!/public
!tsconfig.json
!astro.config.ts
!astro-paper.config.ts
!deploy.js
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Ignore MDX files
*.mdx