---
import type { CollectionEntry } from "astro:content";
import { getPostUrl } from "@/utils/getPostPaths";
import { slugifyStr } from "@/utils/slugify";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"posts">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="my-4">
  <a
    href={getPostUrl(id, filePath, Astro.currentLocale)}
    class="card-interactive block p-5"
  >
    <Heading
      transition:name={slugifyStr(title.replaceAll(".", "-"))}
      class="text-accent text-lg font-semibold leading-snug"
    >
      {title}
    </Heading>
    <Datetime class="mt-1.5" {...props} />
    <p class="text-muted-foreground mt-2 line-clamp-2 text-sm leading-relaxed">
      {description}
    </p>
  </a>
</li>
